<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry IoT!!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>tlsusrl</h1>
    <p>click button</p>
		<h2>현재 상태 : <%= test %></h2> 
		<form method="post" action="/on">
			<input type="submit" value="ON">
		</form>
		<form method="post" action="/off">
			<input type="submit" value="OFF">
		</form>

	</body>
</html>
